@charset "UTF-8";

$diagnostic-outlines: map-get($akker-starterkit, "diagnostic-outlines");

@if $diagnostic-outlines == 1 { /* where would we've been without eric meyer? => https://meyerweb.com/eric/tools/css/diagnostics/ */
  div:empty, span:empty,
  li:empty, p:empty,
  td:empty, th:empty {
    padding: .5em;
    background: yellow;
  }

  *[style],
  font,
  center {
    outline: 5px solid red;
  }
  *[class=""],
  *[id=""] {
    outline: 5px dotted red;
  }

  img[alt=""] {
    border: 3px dotted red;
  }
  img:not([alt]) {
    border: 5px solid red;
  }
  img[title=""] {
    outline: 3px dotted fuchsia;
  }
  img:not([title]) {
    outline: 5px solid fuchsia;
  }

  table:not([summary]) {
    outline: 5px solid red;
  }
  table[summary=""] {
    outline: 3px dotted red;
  }
  th {
    border: 2px solid red;
  }
  th[scope="col"],
  th[scope="row"] {
    border: none;
  }

  a[href]:not([title]) {
    border: 5px solid red;
  }
  a[title=""] {
    outline: 3px dotted red;
  }
  a[href="#"] {
    background: lime;
  }
  a[href=""] {
    background: fuchsia;
  }
}

$debug-outlines: map-get($akker-starterkit, "debug-outlines");

@if $debug-outlines == 1 {
  * {
    outline: 1px dotted color(debug);
  }
}

$debug-breakpoints: map-get($akker-starterkit, "debug-breakpoints");

@if $debug-breakpoints == 1 {
  body {
    &:after {
      display: block;
      position: fixed;
      left: 50%;
      bottom: 12px;
      z-index: 999;
      transform: (translateX(-50%));
      padding: 4px 8px;
      text-align: center;
      color: color(white);
      font: {
        family: "Monaco";
        size: 11px;
      }
      border-radius: 3px;
      background: color(debug);
      content: "initial breakpoint";
      @include breakpoint(s) {
        background: {
          color: darken(color(debug), 10%);
        }
      }
      @include breakpoint(m) {
        background: {
          color: darken(color(debug), 20%);
        }
      }
      @include breakpoint(l) {
        background: {
          color: darken(color(debug), 30%);
        }
      }
      @include breakpoint(xl) {
        background: {
          color: darken(color(debug), 40%);
        }
      }
    }
  }
}

@each $breakpoint, $screensize in $breakpoints {
  @if $debug-breakpoints == 1 {
    @media screen and (min-width: #{$screensize}) {
      body {
        &:after {
          content: "@include breakpoint(#{$breakpoint}) - min-width: #{$screensize}";
        }
      }
    }
  }
}
