@charset "UTF-8";

$akker-starterkit: (
  debug-breakpoints               : 0,
  debug-outlines                  : 0,
  diagnostic-outlines             : 0,
  breakpoints: (
    /* now that wearables are the initial breakpoint, I've added smartphones as breakpoints */
    mobile                        : 320px,
    tablet-portrait               : 768px,
    tablet-landscape              : 1024px,
    desktop                       : 1200px,
    cinemadisplay                 : 1600px,
  ),
  modes: (
    light                         : light,
    dark                          : dark,
  ),
  color: (
    debug                         : #f00,
    black                         : #031220,
    white                         : #fff,
    primary                       : #0071C0
  ),
  fonts: (
    body                          : ('Helvetica Neue', Helvetica, Arial, sans-serif),
    heading                       : ('Helvetica Neue', Helvetica, Arial, sans-serif),
  ),
  opacity: (
    light                         : .8, /* opacity used with lighter colors */
    dark                          : .4  /* opacity used with darker colors */
  )
);
