@charset "UTF-8";

$modes: map-deep-get($akker-starterkit, "mode");

@mixin colormode($colormode) {
  @if map-has-key($modes, $colormode) {
    @media (prefers-color-scheme: map-get($modes, $colormode)) {
      @content;
    }
  } @else {
    @media (prefers-color-scheme: #{$colormode}) {
      @content;
    }
  }
}
