@charset "UTF-8";

/*
  When you're using .grid-row and .grid-column-*, make sure to copy paste the line(s) below and change it/them when needed

  --elementGutter: 10px;
 */

@mixin grid-row {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  width: calc(100% + (1 * var(--elementGutter)));
  margin: {
    left: calc(-1 * (var(--elementGutter) / 2));
  }
  @media all and (-ms-high-contrast: none) {
    width: calc(100% + 70px);
    margin: {
      left: -35px;
    }
  }
}
.grid-row {
  --elementGutter: 0px;
  @include grid-row();
  &.is-reversed {
    flex-direction: row-reverse;
  }
}

[class^="grid-column"] {
  width: 100%;
}

[class*="grid-column-mobile"] {
  display: inline-block;
  flex-direction: column;
}

@for $i from 0 through 19 {
  $classname: $i * 10/2;
  @if $classname < 10 {
    $classname: "0" + $classname;
  }
  $i: $i * 5;
  .grid-column-mobile_#{$classname} {
    width: calc(#{$i * 1%} - var(--elementGutter));
    margin: {
      right: calc(var(--elementGutter) / 2);
      bottom: var(--elementGutter);
      left: calc(var(--elementGutter) / 2);
    }
  }
  .grid-column-mobile_33 {
    width: calc((100% / 3) - var(--elementGutter));
    margin: {
      right: calc(var(--elementGutter) / 2);
      bottom: var(--elementGutter);
      left: calc(var(--elementGutter) / 2);
    }
  }
  .grid-column-mobile_100 {
    width: 100%;
    margin: {
      right: calc(var(--elementGutter) / 2);
      bottom: var(--elementGutter);
      left: calc(var(--elementGutter) / 2);
    }
  }
}

@include breakpoint(tablet-portrait) {
  [class*="grid-column-tabletPortrait"] {
    display: inline-block;
    flex-direction: column;
  }
  @for $i from 0 through 19 {
    $classname: $i * 10/2;
    @if $classname < 10 {
      $classname: "0" + $classname;
    }
    $i: $i * 5;
    .grid-column-tabletPortrait_#{$classname} {
      width: calc(#{$i * 1%} - var(--elementGutter));
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
    .grid-column-tabletPortrait_33 {
      width: calc((100% / 3) - var(--elementGutter));
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
    .grid-column-tabletPortrait_100 {
      width: 100%;
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
  }
}

@include breakpoint(tablet-landscape) {
  [class*="grid-column-tabletLandscape"] {
    display: inline-block;
    flex-direction: column;
  }
  @for $i from 0 through 19 {
    $classname: $i * 10/2;
    @if $classname < 10 {
      $classname: "0" + $classname;
    }
    $i: $i * 5;
    .grid-column-tabletLandscape_#{$classname} {
      width: calc(#{$i * 1%} - var(--elementGutter));
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
    .grid-column-tabletLandscape_33 {
      width: calc((100% / 3) - var(--elementGutter));
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
    .grid-column-tabletLandscape_100 {
      width: 100%;
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
  }
}

@include breakpoint(desktop) {
  [class*="grid-column-desktop"] {
    display: inline-block;
    flex-direction: column;
  }
  @for $i from 0 through 19 {
    $classname: $i * 10/2;
    @if $classname < 10 {
      $classname: "0" + $classname;
    }
    $i: $i * 5;
    .grid-column-desktop_#{$classname} {
      width: calc(#{$i * 1%} - var(--elementGutter));
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
    .grid-column-desktop_33 {
      width: calc((100% / 3) - var(--elementGutter));
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
    .grid-column-desktop_100 {
      width: 100%;
      margin: {
        right: calc(var(--elementGutter) / 2);
        bottom: var(--elementGutter);
        left: calc(var(--elementGutter) / 2);
      }
    }
  }
}

@media all and (-ms-high-contrast: none) {
  [class*="grid-column-tabletPortrait"] {
    display: inline-block;
    flex-direction: column;
  }
  @for $i from 0 through 19 {
    $classname: $i * 10/2;
    @if $classname < 10 {
      $classname: "0" + $classname;
    }
    $i: $i * 5;
    .grid-column-tabletPortrait_#{$classname} {
      width: calc(#{$i * 1%} - 70px);
      margin: {
        right: calc(70px / 2);
        bottom: 70px;
        left: calc(70px / 2);
      }
    }
    .grid-column-tabletPortrait_33 {
      width: calc((100% / 3) - 70px);
      margin: {
        right: calc(70px / 2);
        bottom: 70px;
        left: calc(70px / 2);
      }
    }
    .grid-column-tabletPortrait_100 {
      width: 100%;
      margin: {
        right: calc(70px / 2);
        bottom: 70px;
        left: calc(70px / 2);
      }
    }
  }
}