@charset "UTF-8";

@mixin triangle($position: top, $direction: down, $width: 20px, $height: 10px, $center: 50%, $color: #000, $pseudo: before) {
  position: relative;
  &:#{$pseudo} {
    content: "";
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border: {
      style: solid;
    }
    @if $position == "top" {
      top: 0;
      left: calc(#{$center} - #{$width/2});
      @if $direction == "up" {
        top: -$height;
        border: {
        width: 0 $width/2 $height $width/2;
        color: transparent transparent $color transparent;
      }
    } @else if $direction == "down" {
        border: {
          width: $height $width/2 0 $width/2;
          color: $color transparent transparent transparent;
        }
      }
    } @else if $position == "bottom" {
      bottom: 0;
      left: calc(#{$center} - #{$width/2});
      @if $direction == "up" {
        border: {
          width: 0 $width/2 $height $width/2;
          color: transparent transparent $color transparent;
        }
      } @else if $direction == "down" {
        bottom: -$height;
        border: {
          width: $height $width/2 0 $width/2;
          color: $color transparent transparent transparent;
        }
      }
    } @else if $position == "left" {
      top: calc(#{$center} - #{$width/2});
      @if $direction == "left" {
        left: -$height;
        border: {
          width: $width/2 $height $width/2 0;
          color: transparent $color transparent transparent;
        }
      } @else if $direction == "right" {
        right: -$height;
        border: {
          width: $width/2 0 $width/2 $height;
          color: transparent transparent transparent $color;
        }
      }
    } @else if $position == "right" {
      top: calc(#{$center} - #{$width/2});
      @if $direction == "left" {
        right: 0;
        border: {
          width: $width/2 $height $width/2 0;
          color: transparent $color transparent transparent;
        }
      } @else if $direction == "right" {
        right: -$height;
        border: {
          width: $width/2 0 $width/2 $height;
          color: transparent transparent transparent $color;
        }
      }
    }
  }
}
