@charset "UTF-8";

.content {
  padding: 0 15px 15px 0;
}

.wrapper-main {
  position: relative;
  margin: {
    top: 70px;
  }
  a,
  a:visited,
  a:hover,
  a:active {
    color: #10069F;
    font: {
      weight: bold;
    }
  }
}


@include breakpoint(tablet-portrait) {
 
}

@include breakpoint(tablet-landscape) {
  .content {
    padding: 15px 15px 15px 15px;
  }
  .wrapper-main,
  .footer-main {
    .wrapper-inner {
      width: 85vw;
      max-width: 1600px;
    }
  }
}

.wrapper-inner {
  position: relative;
  width: calc(100% - 30px);
  max-width: 1920px;
  margin: {
    right: auto;
    left: auto;
  }
}

@include breakpoint(desktop) {
  .wrapper-main {
    margin-top: 95px;
  }
  .wrapper-inner {
    margin: {
      right: auto;
      left: auto;
    }
  }
}
