@charset "UTF-8";

@function color($key: "primary") {
  @return map-deep-get($akker-starterkit, "color", $key);
}

//usage: color: color-level("secondary", 2);
$color-interval: 10% !global;
@function color-level($color-name: "primary", $level: 0) {
  $color: color($color-name);
  $color-base: if($level < 0, black, white);
  @return mix($color-base, $color, $level * $color-interval);
}

// usage: background-color: color-alpha("tertiary", "light");
@function color-alpha($color-name: "primary", $opacity: 0) {
  $color: color($color-name);
  @if map-deep-get($akker-starterkit, "opacity", $opacity) { /* get the named opacity level, if it exists */
    $opacity: map-deep-get($akker-starterkit, "opacity", $opacity);
  } @else {
    @warn "Looks like '#{$opacity}' does not exist in your config";
  }
  @return rgba($color, $opacity); /* use rgba() to manipulate the color's alpha level */
}
