@charset "UTF-8";

*,
*:before,
*:after {
  box: {
    sizing: inherit;
  }
  font: {
    smoothing: inherit;
  }
  outline: none;
}

html,
body {
  width: 100%;
}

@supports (-webkit-overflow-scrolling: touch) {
  // disable overflow-x on mobile devices, but don't set this on non-touch devices since this generates an extra scrollbar
  html {
    overflow-x: hidden;
  }
}

html {
  box: {
    sizing: border-box;
  }
}

body {
  position: relative;
  height: 100%;
  //max-height: 100vh;
  background: {
    color: #f5f6fa;
  }
  padding-top: 50px;
  text: {
    rendering: optimizeLegibility;
    size-adjust: 100%;
  }
  font: {
    family: font(body);
    size: 15px;
    smoothing: antialiased;
  }
  color: color(black);
  hyphens: auto; /* https://twitter.com/pugson/status/1034889153849307141 */
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* prevents horizontal scrollbars */
  &.menu-open {
    overflow-y: hidden !important;
  }
}

@include breakpoint(tablet-portrait) {
  body {
    font: {
      size: 17px;
    }
  }
}

::focus:not(:focus-visible) {
  /* https://twitter.com/LeaVerou/status/1045768279753666562 */
  outline: none;
}

::selection {
  background: color(black);
  color: color(white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: manual;
  width: 100%; // to prevent flexbox' magic
  font: {
    weight: bold;
  }
}

h1 {
  margin: {
    bottom: 25px;
  }
  letter-spacing: 1px;
  line-height: 1.1;
  font: {
    size: 35px;
  }
  &.is-longtext {
    font: {
      size: 25px;
    }
    max-width: 14ch;
  }
}

h2 {
  margin: {
    bottom: 20px;
  }
  font: {
    size: 25px;
  }
}

h3 {
  margin: {
    bottom: 15px;
  }
  font: {
    size: 15px;
  }
}

h4 {
  margin: {
    bottom: 15px;
  }
  letter-spacing: 0.5px;
  font: {
    size: 15px;
    weight: bold;
  }
}

.wrapper-main {
  &.homepage {
    margin-top: 0;
  }
}

@include breakpoint(tablet-portrait) {
  h1 {
    font: {
      size: 50px;
    }
    &.is-longtext {
      font: {
        size: 40px;
      }
      max-width: 11ch;
    }
  }
  h2 {
    margin: {
      bottom: 35px;
    }
    font: {
      size: 30px;
    }
  }
  h3 {
    margin: {
      bottom: 25px;
    }
    font: {
      size: 20px;
    }
  }
  h4 {
    margin: {
      bottom: 15px;
    }
    letter-spacing: 0.5px;
    font: {
      size: 25px;
      weight: bold;
    }
  }
}

@include breakpoint(tablet-landscape) {
  h1 {
    margin: {
      bottom: 30px;
    }
    font: {
      size: 60px;
    }
    &.is-longtext {
      font: {
        size: 45px;
      }
      max-width: unset;
    }
  }
  h2 {
    margin: {
      bottom: 35px;
    }
    font: {
      size: 35px;
    }
  }
  h4 {
    margin: {
      bottom: 30px;
    }
  }
}

@include breakpoint(desktop) {
  body {
    font: {
      size: 18px;
    }
  }
}

@include breakpoint(cinemadisplay) {
  h1 {
    margin: {
      bottom: 45px;
    }
    font: {
      size: 70px;
    }
    &.is-longtext {
      font: {
        size: 60px;
      }
    }
  }
  h2 {
    margin: {
      bottom: 35px;
    }
    font: {
      size: 40px;
    }
  }
}

a,
a:link,
a:visited,
a:active {
  text: {
    decoration: none;
  }
}

p {
  hyphens: manual;
  margin: {
    bottom: 1.5em;
    top: 0;
  }
  line-height: 1.6em;
  letter-spacing: 0.5px;
  &:last-of-type {
    margin: {
      bottom: 0;
    }
  }
}

.block.normal{
  ul {
    margin: {
      bottom: 1em;
      top: 0;
    }
    li {
      line-height: 1.6em;
      list-style-type: disc;
      list-style-position: inside;
      margin-bottom: 1em;
      line-height: 1.6em;
      letter-spacing: 0.5px;
    }
  }
  table {
    margin: {
      bottom: 2.5em;
      top: 0;
    }
    border: 1px solid rgba(3, 18, 32, 0.05);

    th,
    td {
      padding: 0.8em;
      border: 1px solid rgba(3, 18, 32, 0.05);
    }
    tbody {
    }
  }
}

em {
  font: {
    style: italic;
  }
}

strong {
  font: {
    weight: bold;
  }
}

img,
video {
  /* you want these elements fluid, probably... */
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

code {
  font: {
    family: Monaco;
    size: 10px;
  }
  outline: none;
}

@include browserfix(ie) {
  * {
    text: {
      shadow: 1px 1px 1px rgba(color(black), 0.08);
    }
    font: {
      smoothing: always;
    }
  }
}

.apb-element {
  position: relative;
}

.apb-admin {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;

  &.apb-admin-page {
    position: fixed;
    bottom: 30px;
    top: auto;
    right: auto;
    left: 30px;
    z-index: 501;
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    background-color: #000;
    color: #fff !important;
    padding: 10px;
    ul {
      display: none;
    }
    &.fold {
      position: relative;
      &:hover {
        ul {
          display: block;
        }
      }
    }
  }
}

.user-login-form {
  width: 400px;
  max-width: 100%;
  padding-top: 150px;
  margin: 0 auto;

  label {
    family: font(body);
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    display: block;
  }

  input.form-text {
    background-color: #efefef;
    padding: 21px 20px;
    display: block;
    border: none;
    -webkit-appearance: none;
    family: font(body);
    width: 100%;
  }

  input.button {
    @include truncate();
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: {
      bottom: 10px;
    }
    padding: {
      right: 20px;
      left: 20px;
    }
    text-align: center;
    font: {
      size: 15px;
      family: font(body);
      weight: bold;
    }
    background: {
      color: #000796;
    }
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    color: #fff;
  }

  .description {
    font-size: 12px;
    padding: 10px 0;
    display: block;
  }

  .form-item {
    padding-bottom: 30px;
  }
}
