body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#map { height: 94%; width: 100%; }

.overlay_map {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 314159;
    pointer-events: none;
    font-size: 30px;
}

.overlay_map {
    pointer-events: initial;
}


  
  
