@mixin menu-arrow-down($fill: red, $important: no) {
  &:after {
    vertical-align: middle;
    margin-left: 10px;
    content: "";
    width: 10px;
    height: 5px;
    background: {
      image: url("data:image/svg+xml;charset=utf8,%3Csvg width='11' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0L5.5 6 0 0z' fill='%23031220' fill-rule='nonzero'/%3E%3C/svg%3E");
      repeat: no-repeat;
      position: center right;
      size: 10px 5px;
    }
    display: inline-block;
  }
}
