@charset "UTF-8";
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.filter-bar {
  background: transparent;
  height: calc(100% - 50px);
  padding: 0;
  top:50px;
  z-index: 99;
  position: fixed;
  left: -100%;
  display: block;
  width: 100%;
  align-items: center;
  padding: 15px;
  background:#fff;
  justify-content: center;

  .filter {
    margin-bottom: 25px;
    .filter-selected {
      display:none;
    }
    .filter-name {
      padding-bottom: 0;
      margin-bottom:10px;
      display: block;
      font-weight:bold;
      position:relative;
      &:before {
        position:absolute;
        top: -5px;
        left: -5px;
        bottom: -5px;
        display:block;
        content:'';
        right: 5px;
        background-color:rgba(0,0,0,0.0);
        transition: all 0.2s ease;

      }
    }
   
  }
}

.filters-visible {
  .filter-bar {
    left: 0;
    overflow-y: scroll;
  }
}

@include breakpoint(tablet-landscape) {
  .filter-bar {
    position: relative;
    z-index:999;
    left: auto;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    padding: 0 15px;
    top: auto;
    background:transparent;
    height: auto;
    margin-bottom: 15px;
    justify-content: space-between;

    .filter {
      display: block;
      position: relative;
      z-index: 2;
      width: 33%;
      margin-bottom: 0;
      .filter-name {
        cursor: pointer;
        font-weight:normal;
        display: block;
        width: 100%;
        background: transparent;
        z-index: 2;
        padding-left: 0;
        position: relative;
        padding-right: 50px;
        transition: all 0.2s ease;

        &:after {
          position: absolute;
          top: 50%;
          right: 30px;
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          transform: translateY(-50%) rotate(0deg);
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid #ccc;
          transition: all 0.2s ease;
        }
      }

      .filter-selected {
        display:block;
        span {
          padding: 3px;
          display:inline-block;
          margin-right:5px;
          font-size:12px;
          background-color:rgba(0,0,0,0.1);
        }
      }

      .filter-options {
      
        width: 340px;
        display: block;
        background: #fff;
        padding: 15px;
        position: absolute;
        max-height: 80vh;
        overflow-y: scroll;
        top: 28px;
        left: 0;
        opacity: 0;
        z-index:1;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
        box-shadow: -11px 9px 21px 0 rgba(173, 182, 217, 0.17);
        
        .checkbox,
        .radio {
          padding: 5px 0;

          label {
            font-size: 13px;
          }

          label,
          label:hover,
          input,
          input:hover {
            cursor: pointer;
          }
        }
      }

      span.hint {
        font-size: 13px;
      }

      &:hover {
        //cursor: pointer;
        .filter-name {
          color: #0072c2;
          &:after {
            border-top: 7px solid #0072c2;
          }
          &:before {
            position:absolute;
            top: -5px;
            left: -5px;
            bottom: -5px;
            display:block;
            content:'';
            right: 5px;
            background-color:rgba(0,0,0,0.04);
          }
        }
      }

      &.visible {
        z-index:999;
        .filter-name {
          color: #0072c2;
          &:after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
        .filter-options {
          opacity: 1;
          transform: translateY(0);
          z-index:999;
        }
      }

      &.date {
        .mtr-datepicker {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: row-reverse;
          .mtr-row {
            display: flex;
            align-items: center;
            margin: 0 12.5px;
            &:nth-child(3) {
              width: 150px;
              position: relative;
              padding-left: 50px;

              #date-input-dates,
              #date_start-input-dates,
              #date_end-input-dates {
                position: absolute !important;
                top: 0;
                left: 0;
              }
            }
          }
          .mtr-clearfix {
            display: none !important;
          }
          .mtr-input-slider {
            height: 70px !important;
            margin: 0 !important;
            width: 50px !important;

            .mtr-arrow {
              height: 20px !important;
              line-height: 20px !important;
            }

            .mtr-content {
              height: 30px !important;
              line-height: 30px !important;
              background-color: #ccc !important;
              .mtr-values {
                .mtr-default-value-holder,
                .mtr-default-value {
                  height: 30px !important;
                  line-height: 30px !important;
                  .mtr-default-value-name {
                    display: none;
                    line-height: 30px !important;
                    height: 30px !important;
                  }
                  &.has-name {
                    padding-top: 0 !important;
                  }
                }
              }
            }
          }

          .mtr-input-radio {
            padding: 0 !important;
            margin: 0 !important;
          }
        }
      }
    }
  }
}

/*&.date {
      width: 400px;
      .mtr-datepicker {
        display:flex;
        align-items: center;
        .mtr-row {
          display:flex;
          align-items:center;
        }
        .mtr-input-slider {
          height: 50px!important;
          margin: 0!important;
          width: 50px!important;

          .mtr-arrow {
            height: 15px!important;
            line-height:15px!important;
          }

          .mtr-content {
            height: 20px!important;
            line-height:20px!important;

            .mtr-values {
              .mtr-default-value-holder,
              .mtr-default-value {
                height: 20px!important;
                line-height: 20px!important;
              }
            }
          }
        }
        .mtr-input-radio {
          padding: 0!important;
          margin:0!important;
        }
      }
    }*/
