@charset "UTF-8";
.help {
  padding: 15px;
}

.fold {
  padding: 15px 0;
  cursor: pointer;

  h3 {
    margin-bottom:0;
    padding-bottom: 15px;
    display:block;
    border-bottom: 1px solid #ccc;
  }

  .body {
    display:none;
    padding: 15px 0;
  }

  &.unfolded {
    .body {
      display:block;
    }
  }
}

@include breakpoint(tablet-landscape) {
  .help {
    padding: 50px;
  }
}