@charset "UTF-8";
.content.login {
  padding: 0;
  display: block;
  width: 100%;
  position: relative;

  .form {
    width: 100%;
    background-color: #fff;
    height: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    form {
      h1 {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 0px;
      }

      p {
        margin-bottom: 50px;
      }

      a {
        font-size: 15px;
        color:#212121;
        text-decoration: underline;
        &.back {
          margin-bottom: 20px;
          display:block;
          text-decoration: none;
        }
      }

      label {
        font-size: 15px;
        display: block;
        margin-bottom: 10px;
      }


      input {
        margin-bottom: 30px;
        background-color: #efefef;
        -webkit-appearance: none;
        border-radius: 0;
        height: 60px;
        border: none;
        padding: 20px;
        width: 100%;
        max-width: 100%;
        font: {
          family: font(body);
          size: 15px;
          smoothing: antialiased;
        }
      }

      input[type="submit"] {
        background-color: #3983ff;
        color: #fff;
        border-radius: 6px;
        display: inline-block;
        width: auto;
        font-weight: bold;
        cursor: pointer;
        font: {
          family: font(body);
          size: 15px;
          smoothing: antialiased;
        }
      }


      .buttons {
        display:flex;
        align-items: center;
        justify-content: space-between;

        input {
          margin-bottom:0;
        }
      }
    }
  }
}

@include breakpoint(tablet-portrait) {
  .content.login {
    &:after {
      content: "";
      display: block;
      background-image: url("../img/login.jpg");
      background-size: cover;
      width: 25%;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      height: calc(100vh - 50px);
    }

    .form {
      width: 75%;
      padding: 50px;

      form {
        input {
          width: 370px;
        }
      }
      
    }
  }
}

@include breakpoint(tablet-landscape) {
  .content.login {
    &:after {
      width: 50%;
    }

    .form {
      width: 50%;
    }
  }
}
