@charset "UTF-8";

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.map {
  min-width: calc(100% - 15px);
  max-width: calc(100% - 15px);
  flex-grow: 1;
  flex-shrink: 1;
}

#map {
  width: 100%;
  height: 500px;
  height: calc(100vh - 200px);
  z-index: 1;
}

.block {
  margin: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: -11px 9px 21px 0 rgba(173, 182, 217, 0.17);

  .block-title {
    color: #a5a8c0;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    margin-bottom: 25px;
  }
}

.info,
.rides {
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
  min-width: calc(100% - 15px);
  margin-top: 0;

  table {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    thead {
      font-weight: bold;
      tr {
        border-bottom: 1px solid #efefef;

        td {
          padding: 10px 0;
          text-align: center;
          &:first-child {
            text-align: left;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #efefef;

        td {
          padding: 10px 0;
          text-align: center;
          &:first-child {
            text-align: left;
            font-style: italic;
            span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100px;
              display:inline-block;
              width: 100px;
              cursor: default;
              &:hover {
                white-space: normal;
              }
            }
            
          }
        }

        &:first-child {
          border-bottom: 2px solid #ccc;
          td {
            font-style: normal;
          }
        }
      }
    }
  }
}


.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid transparent;
}

.mobike {
  border-color: #b0b0b0;
}

.flickbike {
  border-color: #f43300;
}

.donkey {
  border-color: #fbae7f;
}

.cykl {
  border-color: #92C636; 
}

.htm {
  border-color: #db291d}

.jump {
  border-color: #000000}

.gosharing {
  border-color: #70b11e}

.felyx {
  border-color: #0a3d1f}

.check {
  border-color: #8719ff}

.deelfietsnederland {
  border-color: #19a5f7}

.green {
  background-color: #4cbb17;
}

.yellow {
  background-color: #fce205;
}

.purple {
  background-color: #311432;
}

.red {
  background-color: #ff0800;
}

.blue {
  background-color: #0080fe;
}

.orange {
  background-color: #ef7215;
}

.white {
  background-color:#fff;
  border:1px solid #ccc;
}

.black {
  background-color:#000;
}

.keobike {
  border-color: #1ba491;
}

.lime {
  border-color: #b2f209;

}

.baqme {
  border-color: #46e0b5;
}

.legenda {
  padding: 0;
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  ul {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: stretch;
    width: 100%;
    li {
      padding: 0 20px 10px 0;
      font-size: 13px;
      width: 100%;

      span {
        vertical-align: middle;
      }
    }
  }
  &.vertical {
    ul {
      width: 100%;

      li {
        width: auto;
      }
    }
  }
}

@include breakpoint(tablet-landscape) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .map {
    min-width: calc(60% - 15px);
    max-width: calc(100% - 415px);
    flex-grow: 1;
    flex-shrink: 1;
  }

  #map {
    width: 100%;
    height: 500px;
    height: calc(100vh - 200px);
    z-index: 1;
  }

  /*.map.rides {
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    #map {
      height: calc(50vh);
    }
  }*/

  .container {
    display: flex;
    width: 100%;
    height: 800px;
    height: calc(100vh - 140px);
    justify-content: stretch;
    flex-direction: row;
  }

  .legenda {
    padding: 0px;

    ul {
      width: 50%;
      height: 100%;
    }
  }

  .info {
    flex-grow: 1;
    background-color: #fff;
    min-width: 0;
    margin-top: 15px;
  }
}
