@charset "UTF-8";

.side-bar {
  left: -100%;
  width: 100%;
  background-color: #fff;
  border-right: 1px solid #efefef;
  position: fixed;
  height: calc(100% - 50px);
  top: 50px;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/tourdeforce.png");
  background-size: 100px auto;
  background-position: 20px 40px;
  background-repeat: no-repeat;

  nav {
    ul {
      li {
        &.divider {
          width: calc(100% - 40px);
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #efefef;
          margin-left: 20px;
        }
        a {
          padding: 10px 10px 10px 10px;
          color: #212121;
          display: block;
          width: 100%;
          transform: translateX(1px);
          border-right: 2px solid transparent;
          display: flex;
          justify-content: stretch;
          align-items: center;
          font-size: 15px;
          span {
            display: inline-block;
            margin-left: 10px;
          }
          svg {
            width: 40px;
            height: 40px;
            flex-grow: 0;
            flex-shrink: 0;
          }

          &:hover {
            border-right: 2px solid #212121;
            svg {
              path {
                fill: #212121;
              }
            }
          }
          &.active {
            color: #0fdd87;
            border-right: 2px solid #0fdd87;
            svg {
              path {
                fill: #0fdd87;
              }
            }
          }
        }
      }
    }
  }
}

.menu-visible {
  .side-bar {
    left: 0;
  }
}

@include breakpoint(tablet-landscape) {
  .side-bar {
    &:before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      z-index: -1;
      left: 0;
      width: 60px;
      height: 100%;
      border-right: 1px solid #efefef;
      background-color: #fff;
      transition: width 0.3s ease-in-out;
    }
    width: 60px;
    background-color: transparent;
    border-right: 1px solid transparent;
    position: static;
    float: left;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
    overflow: hidden;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    background-image: url("../img/tourdeforce.png");
    background-size: 70% auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    
    &:hover {
      width: 201px;

      &:before {
        width: 201px;
      }
    }

    nav {
      ul {
        li {
          &.divider {
            width: calc(100% - 40px);
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #efefef;
            margin-left: 20px;
          }
          a {
            padding: 10px 10px 10px 10px;
            color: #212121;
            display: block;
            width: 200px;
            transform: translateX(1px);
            border-right: 2px solid transparent;
            display: flex;
            justify-content: stretch;
            align-items: center;
            font-size: 15px;
            span {
              display: inline-block;
              margin-left: 10px;
            }
            svg {
              width: 40px;
              height: 40px;
              flex-grow: 0;
              flex-shrink: 0;
            }
            &.active {
              color: #0fdd87;
              border-right: 2px solid #0fdd87;
              svg {
                g {
                  fill: #0fdd87;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(desktop) {
}
