@charset "UTF-8";

body {
  &:after {
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    background-color: #fff;
    z-index: 99;
    top: 0;
    left: -100%;
  }

  &.menu-visible {
    &:after {
      left: 0;
    }
  }
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  span.title {
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: block;
    line-height: 49px;
    font-size:12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  a.crow-logo {
    height: 30px;
    margin: 10px 15px;
    display: inline-block;
    width: 134px;
    background-image: url("../img/fietsberaad-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
  }

  nav {
    position: fixed;
    top: 50%;
    left: -100%;
    width: 100%;
    transform: translateY(-100%);
    text-align: center;
    &:last-child {
      top: auto;
      bottom: 0;
      left: -100%;
      position: fixed;
      width: 100%;
      transform: translateY(0);
      border-top: 1px solid #efefef;
    }

    ul {
      display: block;
      li {
        display: inline-block;
        a {
          display: block;
          color: #333333;
          text-decoration: none;
          letter-spacing: 0.5px;
          line-height: 50px;
          height: 50px;
          padding: 0 15px;
          vertical-align: top;
        }
      }
      &.secondary-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #efefef;
        li {
          display: flex;
          border-left: 1px solid #efefef;
          height: 50px;
          .circle {
            display: block;
            height: 30px;
            width: 30px;
            margin-top: 10px;
            margin-left: 15px;
            text-align: center;
            border-radius: 50%;
            line-height: 30px;
            font-weight: 500;
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
            background-color: #002855;
          }
          .username {
            display: flex;
            padding-right: 15px;
            flex-direction: column;
            padding-left: 10px;
            justify-content: center;
            &:before {
              content: "Ingelogd als";
              display: block;
              font-size: 13px;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }

  a.toggle-filters {
    padding: 14px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 50px;
    svg {
      width: 22px;
      height: 22px;
      fill: #333333;
    }
  }

  a.toggle-menu {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    position: relative;
    .line-1,
    .line-2,
    .line-3 {
      width: 22px;
      height: 2px;
      display: block;
      background-color: #333333;
      position: absolute;
      top: 19px;
      left: 14px;
      transform: rotate(0deg);
      opacity: 1;
      transition: all 0.2s ease;
    }

    .line-2 {
      top: 24px;
    }

    .line-3 {
      top: 29px;
    }
  }
}

.menu-visible {
  .top-bar {
    nav {
      left: 0%;
    }
    a.toggle-menu {
      .line-1 {
        transform: rotate(-45deg);
        top: 24.5px;
      }

      .line-2 {
        opacity: 0;
      }

      .line-3 {
        top: 24.5px;
        transform: rotate(45deg);
      }
    }
  }
}

@include breakpoint(tablet-landscape) {
  .top-bar {
    a.toggle-filters,
    a.toggle-menu {
      display: none;
    }

    span.title {
      font-size:16px;
    }
    nav {
      display: flex;
      text-align: left;
      position: static;
      top: auto;
      left: auto;
      width: auto;
      transform: translateY(0);
      text-align: left;
      &:last-child {
        transform: translateY(0);
        top: auto;
        left: auto;
        width: auto;
        position: static;
      }
      ul {
        display: block;
        li {
          display: inline-block;
          a {
            display: block;
            color: #333333;
            text-decoration: none;
            letter-spacing: 0.5px;
            line-height: 50px;
            height: 50px;
            padding: 0 15px;
            font-size: 14px;
            vertical-align: top;
          }
        }

        &.secondary-menu {
          display: flex;
          align-items: center;
          border-bottom: 0;
          li {
            display: flex;
            border-left: 1px solid #efefef;
            height: 50px;
            .circle {
              display: block;
              height: 30px;
              width: 30px;
              margin-top: 10px;
              margin-left: 15px;
              text-align: center;
              border-radius: 50%;
              line-height: 30px;
              font-weight: 500;
              font-size: 20px;
              text-transform: uppercase;
              color: #fff;
              background-color: #002855;
            }
            .username {
              display: flex;
              padding-right: 15px;
              flex-direction: column;
              padding-left: 10px;
              justify-content: center;
              &:before {
                content: "Ingelogd als";
                display: block;
                font-size: 13px;
                margin-bottom: 2px;
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(tablet-portrait) {
}

@include breakpoint(desktop) {
}
