@charset "UTF-8";

.new_zone {
  border:2px dashed #eaeaea;
  padding: 5px;
}

.css-input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  margin: 15px 5px;
}
.css-input:focus {
  outline:none;

}

.action {
    background-color: #3983ff;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    width: 300px; 
   font-weight: bold;
    cursor: pointer;
    font: {
      family: font(body);
      size: 15px;
      smoothing: antialiased;
    }

    margin: 10px 0px;
    -webkit-appearance: none;
    height: 40px;
    border: none;
    padding: 10px;
}

.red {
  background-color: red;
}


.new_zone {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 300px;
}

#show_all {
  margin-bottom: 5px;
	background-color:#44c767;
	border-radius:12px;
	border:1px solid #18ab29;
  display:inline-block;
  font-weight: bold;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 20px;
  text-decoration:none;
  width: 300px;
}
#show_all:hover {
	background-color:#5cbf2a;
}
#show_all:active {
	position:relative;
	top:1px;
}

.buttons {
    display:flex;
    align-items: center;
    justify-content: space-between;

    input {
      margin-bottom:0;
    }
}

input {
    margin-bottom: 20px;
}

select {
    margin-bottom: 20px;
}

select::-ms-expand {
    display: none;
  }
  select {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #eee;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
  }

  ul.custom_zones  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
  }

  ul.custom_zones li:hover {
    background-color: #eee;
  }
  
  /* Style the list items */
  ul.custom_zones li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
  }
  .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  
  .close:hover {background: #bbb;}